@import "config";
@import "menu";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.showcase {
  background: url(https://raw.githubusercontent.com/marcin-brumer/Copywriter-Portfolio/master/dist/img/background2.jpg)
    no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  color: #eee;

  .content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;

    .logo {
      height: 180px;
      width: 180px;
    }

    .title {
      font-size: 2.5rem;
      margin-top: 1rem;
    }

    .text {
      font-size: 2rem;
      line-height: 1.7;
      margin-top: 1rem;

      // Cursor for TypeWriter
      .txt {
        border-right: 0.2rem solid #777;
        animation: blinkTextCursor 500ms steps(44) infinite normal;
      }

      @keyframes blinkTextCursor {
        from {
          border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
          border-right-color: transparent;
        }
      }
    }
  }
}

.section-title {
  width: 250px;
  height: 130px;
  background-color: $primary-color;
  text-align: center;
  line-height: 130px;
  font-size: 1.7rem;
  letter-spacing: 4px;
  position: relative;
  color: #fff;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 60px 0 0;
    border-color: $primary-color transparent transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }
}

.offer-section {
  background-image: linear-gradient(
    135deg,
    #1f1e1e 0.98%,
    #111111 0.98%,
    #111111 50%,
    #1f1e1e 50%,
    #1f1e1e 50.98%,
    #111111 50.98%,
    #111111 100%
  );
  background-size: 72.12px 72.12px;
  .offer-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0 200px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    grid-gap: 80px;
    line-height: 2rem;
    .offer-item {
      h2 {
        padding: 30px 0;
        font-size: 1.8rem;
      }
      p {
        font-size: 1.2rem;
        color: rgb(197, 197, 197);
      }
      .icon {
        i {
          background: transparent;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 9px solid #fff;
          text-align: center;
          line-height: 90px;
          vertical-align: middle;
          padding: 30px;
          @include easeOut;
          &:hover {
            border: 9px solid $primary-color;
          }
        }
      }
    }
  }
}
.about-section {
  background-image: linear-gradient(
    45deg,
    #ebebeb 0.98%,
    #ffffff 0.98%,
    #ffffff 50%,
    #ebebeb 50%,
    #ebebeb 50.98%,
    #ffffff 50.98%,
    #ffffff 100%
  );
  background-size: 72.12px 72.12px;
  .about-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0 150px 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 80px;
    line-height: 2.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    .about-info-wrapper {
      display: flex;
      align-items: center;
      .about-info {
        color: #1f1e1e;
      }
    }
    .about-photo {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: auto;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }
}
.contact-section {
  background: url(https://www.dropbox.com/s/pnxlzxgy2bf0r46/pexels-photo-408951.jpeg?raw=1)
    no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  .contact-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
    form {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      input,
      textarea {
        padding: 10px;
        border-radius: 5px;
        outline-color: $primary-color;
      }
      textarea {
        grid-column: 1 / 4;
      }
      button {
        grid-column: 2 / 3;
        width: 250px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: $primary-color;
        outline: none;
        border-radius: 40px;
        border: 2px solid $primary-color;
        color: #fff;
        letter-spacing: 3px;
        font-size: 1rem;
        font-weight: 600;
        display: block;
        cursor: pointer;
        @include easeOut;
        &:hover {
          background-color: #fff;
          color: $primary-color;
        }
      }
    }
  }
}
@import "mobile";
